<header>
  <h1>Welcome to Code With Ved</h1>
  <p>Your go-to destination for amazing content!</p>
</header>
<section class="intro">
  <h2>About Me</h2>
  <p>
    Hello! I'm passionate about creating engaging and informative videos that
    inspire, educate, and entertain. On my channel, you will find a mix of
    tutorials, vlogs, and creative projects aimed to keep you hooked.
  </p>
</section>
<div class="subscribe">
  <a
    href="https://www.youtube.com/@codewithved?sub_confirmation=1"
    target="_blank"
    >Subscribe Now</a
  >
</div>
<section class="intro">
  <h2>Any Query or doubts?</h2>
  <p>Follow me on Instagram and send message for any query/doubts.</p>
</section>
<div class="subscribe">
  <a href="https://www.instagram.com/codewithved_/" target="_blank"
    >Contact On Insta</a
  >
</div>
