header {
  text-align: center;
  padding: 50px 20px;

  h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

.cta-card{
  margin-bottom: 4rem;
  padding: 2rem;
}
.cta-button{
  padding: .5rem 1rem;
  background-color: #fa4e0a;
  color: white;
  border-radius: 4px;
  box-shadow: 1px;
  display: inline-block;
  width: 160px;
}