<mat-card class="pb-1">
  <div
    mat-card-image
    class="cursor-pointer"
    [routerLink]="'/project/' + project.id!"
  >
    @if(showYoutubeVideo){
    <iframe
      class="w-full h-52"
      [src]="
        sanitizer.bypassSecurityTrustResourceUrl(
          'https://www.youtube.com/embed/' + project.youtubeVideoId
        )
      "
      allowfullscreen
    ></iframe>
    } @else{
    <img
      class="w-full"
      [src]="
        'https://img.youtube.com/vi/' +
        project.youtubeVideoId +
        '/maxresdefault.jpg'
      "
    />
    }
  </div>
  <mat-card-content
    [routerLink]="'/project/' + project.id!"
    class="cursor-pointer min-h-20"
  >
    <h4 class="font-lg text-black">{{ project.name }}</h4>
    <div class="flex gap-1 flex-wrap my-1">
      @for (item of project.techStack; track $index) {
        <span class="bg-gray-600 text-white text-xs  px-2 py-1 shadow rounded-lg">{{item}}</span>
      }
    </div>
  </mat-card-content>
  @if(showAction){
  <mat-card-actions class="flex justify-center gap-4">
    <a
      class="px-4 py-2 bg-blue-600 text-white rounded shadow-sm"
      [href]="project.downloadCodeUrl || project.gitCodeUrl"
      target="_blank"
      >Download Code</a
    >
    <a
      class="px-4 py-2 bg-red-600 text-white rounded shadow-sm"
      [href]="'https://youtu.be/' + project.youtubeVideoId"
      target="_blank"
      >Watch Video</a
    >
  </mat-card-actions>
  }
</mat-card>
