<mat-card class="example-card" appearance="outlined">
  <div class="p-4">
    <iframe
      class="w-full h-52"
      [src]="sanitizer.bypassSecurityTrustResourceUrl(project.youtubeUrl)"
      allowfullscreen
    ></iframe>
  </div>
  <mat-card-content>
    <h4>{{ project.name }}</h4>
  </mat-card-content>
  <mat-card-actions class="flex justify-center">
    <a class="px-4 py-2 bg-blue-600 text-white rounded shadow-sm" [href]="project.downloadCodeUrl" target="_blank"
    >Download Code</a
  >
  </mat-card-actions>
</mat-card>
