<mat-card class="pb-1" appearance="outlined">
  <div mat-card-image>
    <!-- <iframe
      class="w-full h-52"
      [src]="
        sanitizer.bypassSecurityTrustResourceUrl(
          'https://www.youtube.com/embed/' + project.youtubeVideoId
        )
      "
      allowfullscreen
    ></iframe> -->
    <img
      class="w-full"
      [src]="
        'https://i.ytimg.com/vi_webp/' +
        project.youtubeVideoId +
        '/mqdefault.webp'
      "
    />
  </div>
  <mat-card-content>
    <h4>{{ project.name }}</h4>
  </mat-card-content>
  <mat-card-actions class="flex justify-center">
    <a
      class="px-4 py-2 bg-blue-600 text-white rounded shadow-sm"
      [href]="project.downloadCodeUrl"
      target="_blank"
      >Download Code</a
    >
  </mat-card-actions>
</mat-card>
